main app is here
<div>main app nav</div>

{{#link-to 'index'}}index page{{/link-to}}<br>
{{#link-to 'home'}}home{{/link-to}}<br>
{{#link-to 'other-page'}}Other Page{{/link-to}}<br><br>

<div class="container">
  {{outlet}}
</div>
