<h1>This is the application stuff</h1>
<div>main app nav is this stuff</div>

{{#link-to 'index'}}index page{{/link-to}}<br>
{{#link-to 'home'}}home{{/link-to}}<br>
{{#link-to 'other-page'}}Other Page{{/link-to}}<br><br><br><br>

<div class="container">
  {{outlet}}
</div>
